<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
        integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title><%= user.username %></title>
</head>

<body>
<section class="header"></section>
<section class="body">
  <article class=profile>
    <section class="profile-header">
      <div class="profile-header-image">
        <img src="<%= user.image %>" alt="profile image">
      </div>
      <div class="profile-header-info">
        <h1 class="profile-header-name"><%= user.username %></h1>
      </div>
    </section>
    <section class="profile-body">
      <p><%= user.description %></p>
    </section>
    <section class="profile-footer">
      <div class="profile-footer-points">
        <!-- not sure what should i put in here -->
      </div>
    </div>
  </div>
</article>
  <container class="maps">

  </container>
  <container class="favourites"></container>
</section>
<section class="footer"></section>
</body>
</html>
