#body2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
  background-color: #586E75;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #000000;
}

#title {
  font-family: 'Courier New', Courier, monospace;
  font-size: 10em;
  color: #fa5a02;
  background: #5dcae7;
  min-height: 100px;
  display: flex;
  justify-content: center;
}

#map0 {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#map {
  width: 90%;
  min-height: 500px;
  /* margin-top: 5em; */
}

#favorites {
  width: 90%;
  min-height: 500px;
  /* margin-top: 5em; */
  margin-bottom: 5em;
}
