#body2 {
  display: flex;
  justify-content: center;
  flex-direction: column;
  /* align-items: center; */
  min-height: 100vh;
  background-color: #586E75;
}

h2 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  color: #000000;
}

.header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bolder;
  color: #fa5a02;
  background: #5dcae7;
  min-height: 2em;
  display: flex;
  justify-content: center;
}

#article-map {
  width: 100%;
  min-height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(#5dcae7, #00acee, #0e76a8, #3b5998);
}

#article-map > .header {
  font-family: 'Courier New', Courier, monospace;
  font-size: 2em;
  font-weight: bold;
  color: #000000;
  background: none;
  min-height: 2em;
  display: flex;
  justify-content: center;
}

.map {
  width: 90%;
  min-height: 1080px;
  margin-bottom: 5%;
}

#favorites {
  width: 90%;
  min-height: 500px;
  /* margin-top: 5em; */
  margin-bottom: 5em;
}